<div md-content flex md-scroll-y>
  <div layout="column" layout-gt-md="row" class="inset">
    <div flex-gt-md="70">
      <md-card>
          <md-card-title>{{(candidate$|async)?.name}} - {{(candidate$|async)?.identityNo}}</md-card-title>
          <md-card-subtitle>{{(candidate$|async)?.name}}</md-card-subtitle>

          <div layout="row" layout-wrap hide-xs hide-sm class="push-sm">
            <div layout="column" flex>
              <md-list dense>
                <md-list-item>
                  <md-icon md-list-icon>local_offer</md-icon>
                  <h4 md-line>{{(candidate$|async)?.referenceNo}}</h4>
                  <p md-line>Reference No</p>
                </md-list-item>
                <md-list-item>
                  <md-icon md-list-icon>local_offer</md-icon>
                  <h4 md-line>{{(candidate$|async)?.intakeSession?.label}}</h4>
                  <p md-line>Label</p>
                </md-list-item>
              </md-list>
            </div>
            <div layout="column" flex>
              <md-list dense>
                <md-list-item a>
                  <md-icon md-list-icon>local_offer</md-icon>
                  <h4 md-line>{{(candidate$|async)?.programSelection?.programFieldCode?.fieldCode?.descriptionEn}}</h4>
                  <p md-line>Field Code</p>
                </md-list-item>
                <md-list-item>
                  <md-icon md-list-icon>local_offer</md-icon>
                  <h4 md-line>{{(candidate$|async)?.intakeSession?.descriptionEn}}</h4>
                  <p md-line>Intake Session</p>
                </md-list-item>
              </md-list>
            </div>
          </div>

          <md-card-actions>
          </md-card-actions>
        </md-card>

        <md-card>
          <md-card-title>Candidates Information</md-card-title>
          <md-card-subtitle>Candidates for this program</md-card-subtitle>
          <md-divider></md-divider>
          <pams-candidate-archived-detail
          	[candidate]="candidate$|async" 
          	[intakeApplication]="(candidate$|async).application">
          </pams-candidate-archived-detail>
        </md-card>
      </div>
      <div flex-gt-md="30">
       <pams-candidate-task-status [candidate]="candidate$|async"></pams-candidate-task-status>  
<!--         <md-card>
          <md-card-title>Action</md-card-title>
          <md-card-subtitle>Actions available on current intake</md-card-subtitle>
          <md-divider></md-divider>
          <md-nav-list dense>
            <md-list-item (click)="select()">
              <md-icon md-list-avatar>check_circle</md-icon>
              <h4 md-line>Select</h4>
              <p md-line>Select this candidate</p>
            </md-list-item>
            <md-list-item>
              <md-icon md-list-avatar>remove_circle</md-icon>
              <h4 md-line>Reject</h4>
              <p md-line>Reject this candidate</p>
            </md-list-item>
          </md-nav-list>
        </md-card> -->
      </div>
    </div>
  </div>