<td-layout-nav toolbarTitle="Code Manager">

  <td-layout-manage-list #list title="Manage" logo="path/to/toolbar-logo.svg">

    <md-toolbar td-sidenav-content>
      <span>Setup Menu</span>
    </md-toolbar>

    <md-nav-list td-sidenav-content dense>
      <a md-list-item [routerLink]="['/secure/setup/country-codes']">
        <md-icon>label</md-icon>
        Country Code
      </a>

      <a md-list-item [routerLink]="['/secure/setup/disability-codes']">
        <md-icon>label</md-icon>
        Disability Code
      </a>

       <a md-list-item [routerLink]="['/secure/setup/district-codes']">
        <md-icon>label</md-icon>
        District Code
      </a>

      <a md-list-item [routerLink]="['/secure/setup/dun-codes']">
        <md-icon>label</md-icon>
        DUN Code
      </a>

      <a md-list-item [routerLink]="['/secure/setup/ethnicity-codes']">
        <md-icon>label</md-icon>
        Ethnicity Code
      </a>

      <a md-list-item [routerLink]="['/secure/setup/faculty-codes']">
        <md-icon>label</md-icon>
        Faculty Code
      </a>

      <a md-list-item [routerLink]="['/secure/setup/gender-codes']">
        <md-icon>label</md-icon>
        Gender Code
      </a>

      <a md-list-item [routerLink]="['/secure/setup/grade-codes']">
        <md-icon>label</md-icon>
        Grade Code
      </a>

      <a md-list-item [routerLink]="['/secure/setup/graduate-centers']">
        <md-icon>label</md-icon>
        Graduate Center
      </a>

      <a md-list-item [routerLink]="['/secure/setup/language-codes']">
        <md-icon>label</md-icon>
        Language Code
      </a>

       <a md-list-item [routerLink]="['/secure/setup/marital-codes']">
        <md-icon>label</md-icon>
        Marital Code
      </a>

       <a md-list-item [routerLink]="['/secure/setup/nationality-codes']">
        <md-icon>label</md-icon>
        Nationality Code
      </a>

      <a md-list-item [routerLink]="['/secure/setup/parliament-codes']">
        <md-icon>label</md-icon>
        Parliament Code
      </a>

      <a md-list-item [routerLink]="['/secure/setup/program-codes']">
        <md-icon>label</md-icon>
        Program Code
      </a>

      <a md-list-item [routerLink]="['/secure/setup/race-codes']">
        <md-icon>label</md-icon>
        Race Code
      </a>

      <a md-list-item [routerLink]="['/secure/setup/religion-codes']">
        <md-icon>label</md-icon>
        Religion Code
      </a>

      <a md-list-item [routerLink]="['/secure/setup/residency-codes']">
        <md-icon>label</md-icon>
        Residency Code
      </a>

      <a md-list-item [routerLink]="['/secure/setup/school-codes']">
        <md-icon>label</md-icon>
        School Code
      </a>

      <a md-list-item [routerLink]="['/secure/setup/state-codes']">
        <md-icon>label</md-icon>
        State Code
      </a>

      <a md-list-item [routerLink]="['/secure/setup/study-center-codes']">
        <md-icon>label</md-icon>
        Study Center Code
      </a>

       <a md-list-item [routerLink]="['/secure/setup/study-modes']">
        <md-icon>label</md-icon>
        Study Mode
      </a>

      <a md-list-item [routerLink]="['/secure/setup/subject-codes']">
        <md-icon>label</md-icon>
        Subject Code
      </a>

      <a md-list-item [routerLink]="['/secure/setup/supervisor-codes']">
        <md-icon>label</md-icon>
        Supervisor Code
      </a>

      <a md-list-item [routerLink]="['/secure/setup/venue-codes']">
        <md-icon>label</md-icon>
        Venue Code
      </a>

    </md-nav-list>

    <div toolbar-buttons layout="row" layout-align="start center" flex>
      <span flex>{{title$ | async}}</span>
    </div>

    <router-outlet></router-outlet>
  </td-layout-manage-list>
</td-layout-nav>
