<td-layout-nav>
  <div toolbar-content layout="row" layout-align="center center" flex>
    <span>PAMS: Postgraduate Management System</span>
    <span flex></span>
  </div>

  <td-layout-card-over>
    <form [formGroup]="applicationForm">
      <div layout="row" layout-align="start center">
        <div>
          <md-card-title>Intake Application</md-card-title>
          <md-card-subtitle>Intake Registration for Session 201720181</md-card-subtitle>
        </div>
      </div>
      <md-divider></md-divider>
      <md-tab-group (selectChange)="onTabChange($event)" md-stretch-tabs>
        <md-tab>
          <template md-tab-label>Program Choice Information</template>
          <pams-program-choice
            [intakeApplication]="intakeApplication$ | async">
          </pams-program-choice>
        </md-tab>

        <md-tab>
          <md-card>
            <template md-tab-label>Personal Information</template>
            <td-expansion-panel label="Personal Details">
              <div layout="row" class="inset" layout-wrap hide-xs hide-sm class="push-sm">
                <!-- first column -->
                <div layout="column" class="pad-right" flex>
                  <div layout="row" class="pad-bottom" flex>
                    <md-input-container flex>
                      <input mdInput placeholder="Name" formControlName="name" flex/>
                    </md-input-container>
                  </div>

                  <div layout="row" class="pad-bottom" flex>
                    <md-input-container flex>
                      <input mdInput placeholder="Email" formControlName="email" flex/>
                    </md-input-container>
                  </div>

                  <div layout="row" class="pad-bottom" flex>
                    <md-input-container flex>
                      <input mdInput placeholder="NRIC/Passport" formControlName="credentialNo" flex/>
                    </md-input-container>
                  </div>

                  <div layout="row" class="pad-bottom" flex>
                    <md-input-container flex>
                      <input mdInput type="date" placeholder="Date of Birth" formControlName="birthDate" flex/>
                    </md-input-container>
                  </div>

                  <div layout="row" class="pad-bottom" flex>
                    <md-select placeholder="Citizenship">
                      <md-option>YES</md-option>
                      <md-option>NO</md-option>
                    </md-select>
                  </div>
                </div>

                <!-- second column -->
                <div layout="column" class="pad-right" flex>
                  <div layout="row" class="pad-bottom" flex>
                    <md-input-container flex>
                      <input mdInput placeholder="Phone No" formControlName="mobile" flex/>
                    </md-input-container>
                  </div>

                  <div layout="row" class="pad-bottom" flex>
                    <md-input-container flex>
                      <input mdInput placeholder="Office No" formControlName="phone" flex/>
                    </md-input-container>
                  </div>

                  <div layout="row" class="pad-bottom" flex>
                    <md-input-container flex>
                      <input mdInput placeholder="Fax No" formControlName="fax" flex/>
                    </md-input-container>
                  </div>

                </div>
              </div>
            </td-expansion-panel>

            <td-expansion-panel label="Address Information">
              <pams-language-list
                [intakeApplication]="intakeApplication$ | async"
                [languages]="languages$ | async"></pams-language-list>
            </td-expansion-panel>

            <td-expansion-panel label="Working Experience">
              <pams-employment-list
                [intakeApplication]="intakeApplication$ | async"
                [employments]="employments$ | async"></pams-employment-list>
            </td-expansion-panel>
          </md-card>
        </md-tab>


        <md-tab>
          <md-card>
            <template md-tab-label>Academic Qualification</template>

            <td-expansion-panel label="Language Proficiencies">
              <pams-spm-result-list
                [intakeApplication]="intakeApplication$ | async"
                [spmResults]="spmResults$ | async"></pams-spm-result-list>
            </td-expansion-panel>

            <td-expansion-panel label="SPM Qualifications">
              <pams-spm-result-list
                [intakeApplication]="intakeApplication$ | async"
                [spmResults]="spmResults$ | async"></pams-spm-result-list>
            </td-expansion-panel>

           <template md-tab-label>Bachelor Results</template>

            <td-expansion-panel label="Bachelor Results">
              <pams-bachelor-result-list
                [intakeApplication]="intakeApplication$ | async"
                [bachelorResults]="bachelorResults$ | async"></pams-bachelor-result-list>
            </td-expansion-panel>



            <td-expansion-panel label="STPM / Diploma / Degree Information">
              <md-card>
                <md-divider>
                  <td-data-table
                    [data]="facultyCodes$ | async"
                    [columns]="columns"
                    [sortBy]="summary"
                    [sortOrder]="ASC"
                    [sortable]="false"
                    [multiple]="false"
                    [selectable]="false"
                    (rowSelect)="view.emit($event)" dense>
                    <template tdDataTableTemplate="key" let-value="value" let-row="row" let-column="column">
                      <div layout="row">
                        <span flex>{{value}}</span>
                      </div>
                    </template>
                    <template tdDataTableTemplate="action" let-value="value" let-row="row" let-column="column">
                      <div layout="row">
                        <button md-icon-button [md-menu-trigger-for]="menu">
                          <md-icon>more_vert</md-icon>
                        </button>
                        <md-menu x-position="before" #menu="mdMenu">
                          <a md-menu-item>Edit</a>
                          <button md-menu-item (click)="delete(row)">Delete</button>
                        </md-menu>
                      </div>
                    </template>
                  </td-data-table>
                </md-divider>
                <md-card-actions>
                  <a md-fab color="accent" class="mat-fab-top-right" (click)="showDialog()">
                    <md-icon>add</md-icon>
                  </a>
                </md-card-actions>
              </md-card>
            </td-expansion-panel>

            <td-expansion-panel label="Financial Support">
              <div layout="row" class="inset" layout-wrap hide-xs hide-sm class="push-sm">
                <div layout="row" layout-wrap hide-xs hide-sm class="push-sm">
                  <md-checkbox formControlName="sponsored">
                    <div layout="column" flex>
                      Sponsor by Employer / Government. Please attach letter from Sponsor.
                    </div>
                  </md-checkbox>
                </div>

                <div layout="row" layout-wrap hide-xs hide-sm class="push-sm">
                  <md-checkbox formControlName="selfSponsored">
                    <div layout="column" flex>
                      Self Supporting . Please enclose financial guarantee or bank statement.
                    </div>
                  </md-checkbox>
                </div>
              </div>
            </td-expansion-panel>

            <td-expansion-panel label="Referees">
              <pams-referee-list
                [intakeApplication]="intakeApplication$ | async"
                [referees]="referees$ | async">
              </pams-referee-list>
            </td-expansion-panel>
          </md-card>
        </md-tab>

        <md-tab>
          <md-card>
            <template md-tab-label>Upload Document</template>

            <div layout="column" class="pad-right" flex>

              <md-card-title>Upload Document Checklist</md-card-title>
              <md-card>
                <md-divider>
                  <!--<td-data-table-->
                  <!--[data]="facultyCodes$ | async"-->
                  <!--[columns]="columns"-->
                  <!--[sortBy]="summary"-->
                  <!--[sortOrder]="ASC"-->
                  <!--[sortable]="false"-->
                  <!--[multiple]="false"-->
                  <!--[selectable]="false"-->
                  <!--(rowSelect)="view.emit($event)" dense>-->
                  <!--<template tdDataTableTemplate="key" let-value="value" let-row="row" let-column="column">-->
                  <!--<div layout="row">-->
                  <!--<span flex>{{value}}</span>-->
                  <!--</div>-->
                  <!--</template>-->
                  <!--<template tdDataTableTemplate="action" let-value="value" let-row="row" let-column="column">-->
                  <!--<div layout="row">-->
                  <!--<button md-icon-button [md-menu-trigger-for]="menu">-->
                  <!--<md-icon>more_vert</md-icon>-->
                  <!--</button>-->
                  <!--<md-menu x-position="before" #menu="mdMenu">-->
                  <!--<a md-menu-item>Edit</a>-->
                  <!--<button md-menu-item (click)="delete(row)">Delete</button>-->
                  <!--</md-menu>-->
                  <!--</div>-->
                  <!--</template>-->
                  <!--</td-data-table>-->
                </md-divider>
                <md-card-actions>
                  <a md-fab color="accent" class="mat-fab-top-right" (click)="showDialog()">
                    <md-icon>add</md-icon>
                  </a>
                </md-card-actions>
              </md-card>
            </div>
          </md-card>
        </md-tab>
        <md-tab>
          <template md-tab-label>Submit Application</template>
          <div flex class="pad inset" tdMediaToggle="gt-xs" [mediaClasses]="['pad-sm']">
            <div class="push-top-sm"></div>
            <md-card-title>Declaration</md-card-title>
            <md-card-subtitle>Submit Application for Intake September 2017</md-card-subtitle>
            <div layout="row" layout-wrap hide-xs hide-sm class="push-sm">
              <md-checkbox>
                <div layout="column" flex>
                  I declare that the statements made in this application form are correct. I am fully aware that UMK
                  reserves the right to reject my application or terminate my candidature if the information given
                  above is incorrect or incomplete.
                </div>
              </md-checkbox>
            </div>
            <div layout="row" layout-align="start center">
              <button md-raised-button color="accent" (click)="save(applicationForm.value, applicationForm.valid)">
                Submit
              </button>
            </div>
          </div>
          <div class="push-top-sm"></div>
        </md-tab>
      </md-tab-group>
    </form>
  </td-layout-card-over>
</td-layout-nav>
