<h2 md-dialog-title>Address Information</h2>
<md-dialog-content>
  <form [formGroup]="editForm">
    <md-card>
      <div layout="row" class="inset" layout-wrap hide-xs hide-sm class="push-sm">

        <div layout="column" class="pad-right" flex>
          <div layout="row">
            <md-input-container flex>
              <input mdInput placeholder="Address1" formControlName="address1" flex/>
            </md-input-container>
          </div>

          <div layout="row">
            <md-input-container flex>
              <input mdInput placeholder="Address2" formControlName="address2" flex/>
            </md-input-container>
          </div>

          <div layout="row">
            <md-input-container flex>
              <input mdInput placeholder="Address3" formControlName="address3" flex/>
            </md-input-container>
          </div>

          <div layout="row">
            <md-input-container flex>
              <input mdInput placeholder="PostCode" formControlName="postcode" flex/>
            </md-input-container>
          </div>

          <div layout="row" class="pad-top">
            <pams-state-code-select
              [placeholder]="'StateCode'"
              [innerFormControl]="editForm.controls.stateCode">
            </pams-state-code-select>
          </div>

          <div layout="row" class="pad-top">
            <pams-country-code-select
              [placeholder]="'CountryCode'"
              [innerFormControl]="editForm.controls.countryCode">
            </pams-country-code-select>
          </div>

          <div layout="row" class="pad-top">
            <pams-address-type-select
              [placeholder]="'AddressType'"
              [innerFormControl]="editForm.controls.addressType">
            </pams-address-type-select>
          </div>

        </div>
      </div>
    </md-card>
  </form>
</md-dialog-content>
<md-dialog-actions align="end">
  <button md-raised-button color="accent" (click)="submit(editForm.value, editForm.valid)">
    {{edit ? 'Update' : 'Save'}}
  </button>
</md-dialog-actions>

