<h2 md-dialog-title>Address Information Creator</h2>
<md-dialog-content>
  <form [formGroup]="createForm">
    <md-card>
      <div layout="row" class="inset" layout-wrap hide-xs hide-sm class="push-sm">

        <div layout="column" class="pad-right" flex>
          <div layout="row">
            <md-input-container flex>
              <input mdInput placeholder="Address1" formControlName="address1" flex/>
            </md-input-container>
          </div>

          <div layout="row">
            <md-input-container flex>
              <input mdInput placeholder="Address2" formControlName="address2" flex/>
            </md-input-container>
          </div>

          <div layout="row">
            <md-input-container flex>
              <input mdInput placeholder="Address3" formControlName="address3" flex/>
            </md-input-container>
          </div>

          <div layout="row">
            <md-input-container flex>
              <input mdInput placeholder="PostCode" formControlName="postcode"flex/>
            </md-input-container>
          </div>
        </div>
      </div>
    </md-card>
  </form>
</md-dialog-content>
<md-dialog-actions align="end">
  <button md-raised-button color="accent" (click)="save(createForm.value, createForm.valid)">Save</button>
</md-dialog-actions>

