<h2 md-dialog-title>Education Task</h2>
<md-dialog-content>
  <form [formGroup]="createForm">
    <md-card>
      <div layout="row" class="inset" layout-wrap hide-xs hide-sm class="push-sm">
        <!-- first column -->

        <div layout="column" class="pad-right" flex>
          <div layout="row" class="pad-bottom" flex>
            <md-input-container flex>
              <input mdInput placeholder="Name of School / College / University" flex/>
            </md-input-container>
          </div>

          <div layout="row" class="pad-bottom" flex>
            <md-input-container flex>
              <input mdInput type="date" placeholder="Year Of Entry" flex/>
            </md-input-container>
          </div>

          <div layout="row" class="pad-bottom" flex>
            <md-input-container flex>
              <input mdInput type="date" placeholder="Year Of Graduation" flex/>
            </md-input-container>
          </div>
        </div>

        <!-- second column -->

        <div layout="column" class="pad-right" flex>
          <div layout="row" class="pad-bottom" flex>
            <md-input-container flex>
              <input mdInput placeholder="Name Of Diploma" flex/>
            </md-input-container>
          </div>

          <div layout="row" class="pad-bottom" flex>
            <md-input-container flex>
              <input mdInput placeholder="Honours Classification / CGPA / Equavalent" flex/>
            </md-input-container>
          </div>
        </div>
      </div>
    </md-card>
  </form>
</md-dialog-content>
<md-dialog-actions align="end">
  <button md-raised-button color="accent" (click)="save(createForm.value, createForm.valid)">Save</button>
</md-dialog-actions>

