<h2 md-dialog-title>Language</h2>
<md-card-subtitle> Select level according to your Proficiency</md-card-subtitle>
<md-dialog-content>
  <form [formGroup]="editForm">
    <div layout="column" class="pad-right" flex>
      <div layout="row" class="pad-top">
        <pams-language-code-select
          [placeholder]="'Choose Language'"
          [innerFormControl]="editForm.controls.languageCode">
        </pams-language-code-select>
      </div>

      <div layout="row" class="pad-top">
        <md-select placeholder="Oral Proficiency Level" formControlName="oral">
          <md-option [value]="1">1 : Beginner</md-option>
          <md-option [value]="2">2 : Elementary</md-option>
          <md-option [value]="3">3 : Intermediate</md-option>
          <md-option [value]="4">4 : Upper Intermediate</md-option>
          <md-option [value]="5">5 : Advanced</md-option>
          <md-option [value]="6">6 : Proficient</md-option>
        </md-select>
      </div>
      <div layout="row" class="pad-top">
        <md-select placeholder="Written Proficiency Level" formControlName="written">
          <md-option [value]="1">1 : Beginner</md-option>
          <md-option [value]="2">2 : Elementary</md-option>
          <md-option [value]="3">3 : Intermediate</md-option>
          <md-option [value]="4">4 : Upper Intermediate</md-option>
          <md-option [value]="5">5 : Advanced</md-option>
          <md-option [value]="6">6 : Proficient</md-option>
        </md-select>
      </div>
    </div>
  </form>
</md-dialog-content>
<md-dialog-actions align="end">
  <button md-raised-button color="accent" (click)="submit(editForm.value, editForm.valid)">
    {{edit ? 'Update' : 'Save'}}
  </button>
</md-dialog-actions>

