<h2 md-dialog-title>Language Editor</h2>
<md-dialog-content>
  <form [formGroup]="editForm">
    <div layout="column" class="pad-right" flex>
      <div layout="row" class="pad-top">
        <pams-language-code-select
          [placeholder]="'LanguageCode'"
          [innerFormControl]="editForm.controls.languageCode">
        </pams-language-code-select>
      </div>

      <div layout="row" class="pad-top">
        <md-select placeholder="Oral Proficiency [1-10]" formControlName="oral">
          <md-option [value]="1">1</md-option>
          <md-option [value]="2">2</md-option>
          <md-option [value]="3">3</md-option>
          <md-option [value]="4">4</md-option>
          <md-option [value]="5">5</md-option>
          <md-option [value]="6">6</md-option>
          <md-option [value]="7">7</md-option>
          <md-option [value]="8">8</md-option>
          <md-option [value]="9">9</md-option>
          <md-option [value]="10">10</md-option>
        </md-select>
      </div>
      <div layout="row" class="pad-top">
        <md-select placeholder="Written Proficiency [1-10]" formControlName="written">
          <md-option [value]="1">1</md-option>
          <md-option [value]="2">2</md-option>
          <md-option [value]="3">3</md-option>
          <md-option [value]="4">4</md-option>
          <md-option [value]="5">5</md-option>
          <md-option [value]="6">6</md-option>
          <md-option [value]="7">7</md-option>
          <md-option [value]="8">8</md-option>
          <md-option [value]="9">9</md-option>
          <md-option [value]="10">10</md-option>
        </md-select>
      </div>
    </div>
  </form>
</md-dialog-content>
<md-dialog-actions align="end">
<button md-raised-button color="accent" (click)="submit(editForm.value, editForm.valid)">
    {{edit ? 'Update' : 'Save'}}
  </button>
</md-dialog-actions>

