<template let-programOffering let-last="last" ngFor [ngForOf]="programOfferings$ | async">
  <div flex class="pad inset" tdMediaToggle="gt-xs" [mediaClasses]="['pad-sm']">
    <div class="push-top-sm"></div>
    <p class="md-title tc-grey-600">Choose your program:</p>
    <button md-raised-button color="accent" class="push-bottom" (click)="select(programOffering)">Choose</button>
    <div class="push-top-sm"></div>
    <div class="push-top-sm"></div>
    <div class="push-top-sm"></div>
  </div>

</template>
