<h2 md-dialog-title>Referee Information Editor</h2>
<md-dialog-content>
  <form [formGroup]="editForm">
    <md-card>
      <div layout="row" class="inset" layout-wrap hide-xs hide-sm class="push-sm">

        <div layout="column" class="pad-right" flex>
          <div layout="row">
            <md-input-container flex>
              <input mdInput placeholder="Name" formControlName="name" flex/>
            </md-input-container>
          </div>

          <div layout="row">
            <md-input-container flex>
              <input mdInput placeholder="OfficeAddrs" formControlName="officeAddrs" flex/>
            </md-input-container>
          </div>

          <div layout="row">
            <md-input-container flex>
              <input mdInput placeholder="Occupation" formControlName="occupation" flex/>
            </md-input-container>
          </div>

          <div layout="row">
            <md-input-container flex>
              <input mdInput placeholder="PhoneNo" formControlName="phoneNo"flex/>
            </md-input-container>
          </div>

        <div layout="row" class="pad-top">
      <pams-referee-type-select
        [placeholder]="'RefereeType'"
        [innerFormControl]="editForm.controls.refereeType">
      </pams-referee-type-select>
    </div>

        </div>
      </div>
    </md-card>
  </form>
</md-dialog-content>
<md-dialog-actions align="end">
 <button md-raised-button color="accent" (click)="submit(editForm.value, editForm.valid)">
    {{edit ? 'Update' : 'Save'}}
  </button>
</md-dialog-actions>

