<td-data-table
  [data]="intakeTasks"
  [columns]="columns"
  [sortBy]="summary"
  [sortOrder]="ASC"
  [sortable]="false"
  [multiple]="false"
  [selectable]="false"
  (rowSelect)="view.emit($event)" dense>
  <template tdDataTableTemplate="key" let-value="value" let-row="row" let-column="column">
    <div layout="row">
      <span flex>{{value}}</span>
    </div>
  </template>
  <template tdDataTableTemplate="startDate" let-value="value" let-row="row" let-column="column">
    <div layout="row">{{row['startDate'] | date :'longDate'}}</div>
  </template>
  <template tdDataTableTemplate="endDate" let-value="value" let-row="row" let-column="column">
    <div layout="row">{{row['endDate'] | date :'longDate'}}</div>
  </template>
  <template tdDataTableTemplate="action" let-value="value" let-row="row" let-column="column">
    <div layout="row">
      <a md-button color="accent" class="text-upper" [routerLink]="['/secure/policy/intakes/view-task', row['referenceNo']]">
        <span>View</span>
      </a>
    </div>
  </template>
</td-data-table>
