<div layout="row"
     layout-align="start center"
     layout-wrap>
  <md-nav-list dense flex>

    <template let-intakeRejectedApplications let-last="last" ngFor [ngForOf]="intakeRejectedApplications">
      <a md-list-item  (click)="profileDialog(intakeRejectedApplications)">
        <md-icon md-list-avatar>label</md-icon>
        <h3 md-line> {{intakeRejectedApplications.name}} </h3>
        <p md-line> {{intakeRejectedApplications.referenceNo}} </p>
        <p md-line> {{intakeRejectedApplications.email}} </p>
        <p md-line>merit : {{intakeRejectedApplications.merit}} </p>
      </a>
    </template>
  </md-nav-list>
</div>
