<td-data-table
  [data]="intakeTasks"
  [columns]="columns"
  [sortBy]="summary"
  [sortOrder]="ASC"
  [sortable]="false"
  [multiple]="false"
  [selectable]="false"
  (rowSelect)="view.emit($event)" dense>
  <template tdDataTableTemplate="key" let-value="value" let-row="row" let-column="column">
    <div layout="row">
      <span flex>{{value}}</span>
    </div>
  </template>
  <template tdDataTableTemplate="totalAmount" let-value="value" let-row="row" let-column="column">
    <div layout="row">{{row['totalAmount'] | currency:'MYR':true:'1.2-2'}}</div>
  </template>
  <template tdDataTableTemplate="balanceAmount" let-value="value" let-row="row" let-column="column">
    <div layout="row">{{row['balanceAmount'] | currency:'MYR':true:'1.2-2'}}</div>
  </template>
  <template tdDataTableTemplate="action" let-value="value" let-row="row" let-column="column">
    <div layout="row">
      <a md-button color="accent" class="text-upper" [routerLink]="['/billing/intakes/view-task', row['taskId']]">
        <span>View</span>
      </a>
    </div>
  </template>
</td-data-table>
