<div toolbar-buttons layout="row" layout-align="start center" flex>
  <span flex></span>
  <button md-button class="md-icon-button" (click)="showDialog()">
    <md-icon class="md-24 tc-grey-700">add</md-icon>
  </button>
</div>
<md-divider></md-divider>
<div layout="row"
     layout-align="start center"
     layout-wrap>
  <md-nav-list dense flex>
    
    <template let-programOffering let-last="last" ngFor [ngForOf]="programOfferings$ | async" >
      
      <a md-list-item>
        <md-icon md-list-avatar>label</md-icon>
        <h3 md-line> {{programOffering.programCode?.descriptionMs}} </h3>
        <p md-line> {{programOffering.programCode?.code}} </p>
        <!--<span flex></span>-->
        <!--<span flex="40"> xxx </span>-->
     
    <!--</template>-->
      <!--<template tdDataTableTemplate="action" let-value="value" let-row="row" let-column="column">-->
         <!--<template let-value="value" let-row="row" let-column="column">-->
        <button md-icon-button [md-menu-trigger-for]="menu">
          <md-icon>more_vert</md-icon>
        </button>
        
        <md-menu x-position="before" #menu="mdMenu">
          <button md-menu-item (click)="editDialog(row)">Edit</button>
          <button md-menu-item (click)="delete(row)">Delete</button>
        </md-menu>  
      
      <!--</template>-->
       </a>
      <!--</template>-->
    </template>
   

  </md-nav-list>
</div>
