<td-layout-nav>
  <div toolbar-content layout="row" layout-align="center center" flex>
    <span>PAMS: Postgraduate Academic Management System</span>
    <span flex></span>
  </div>
  <td-layout-card-over>
    <form>
      <div layout="row" layout-align="start center">
        <div>
          <md-card-title>Intake Application</md-card-title>
          <md-card-subtitle>Intake Registration for Session 201720181</md-card-subtitle>
        </div>
      </div>
      <md-divider></md-divider>
      <md-card>
        <div layout="row" class="inset">
          <h3 md-subheader class="text-upper tc-grey-700">Education Information</h3>
        </div>
        <div layout="row" class="inset" layout-wrap hide-xs hide-sm class="push-sm">
          <!-- first column -->
          <div layout="column" class="pad-right" flex>
            <div layout="row" class="pad-bottom" flex>
              <md-input-container flex>
                <input mdInput
                       placeholder="Name"
                       flex/>
              </md-input-container>
            </div>
            <div layout="row" class="pad-bottom" flex>
              <md-input-container flex>
                <input mdInput
                       placeholder="NRIC/Passport"
                       flex/>
              </md-input-container>
            </div>
            <div layout="row" class="pad-bottom" flex>
              <md-input-container flex>
                <input mdInput
                       placeholder="Email"
                       flex/>
              </md-input-container>
            </div>
            <div layout="row" class="pad-bottom" flex>
              <md-input-container flex>
                <input mdInput
                       placeholder="Password"
                       flex/>
              </md-input-container>
            </div>
          </div>
          <!-- second column -->
          <div layout="column" class="pad-right" flex>
            <div layout="row" class="pad-bottom" flex>
              <md-input-container flex>
                <input mdInput
                       placeholder="Name"
                       flex/>
              </md-input-container>
            </div>
            <div layout="row" class="pad-bottom" flex>
              <md-input-container flex>
                <input mdInput
                       placeholder="NRIC/Passport"
                       flex/>
              </md-input-container>
            </div>
            <div layout="row" class="pad-bottom" flex>
              <md-input-container flex>
                <input mdInput
                       placeholder="Email"
                       flex/>
              </md-input-container>
            </div>
            <div layout="row" class="pad-bottom" flex>
              <md-input-container flex>
                <input mdInput
                       placeholder="Password"
                       flex/>
              </md-input-container>
            </div>
          </div>

        </div>
      </md-card>

      <md-card>
        <div layout="row" class="inset">
          <h3 md-subheader class="text-upper tc-grey-700">Address Information</h3>
        </div>
        <div layout="row" class="inset" layout-wrap hide-xs hide-sm class="push-sm">
          <div layout="column" class="pad-right" flex>
            <div layout="row" class="insert" flex>
              <md-input-container flex>
                <input mdInput
                       placeholder="Name"
                       flex/>
              </md-input-container>
            </div>
            <div layout="row" class="pad-bottom" flex>
              <md-input-container flex>
                <input mdInput
                       placeholder="NRIC/Passport"
                       flex/>
              </md-input-container>
            </div>
            <div layout="row" class="pad-bottom" flex>
              <md-input-container flex>
                <input mdInput
                       placeholder="Email"
                       flex/>
              </md-input-container>
            </div>
            <div layout="row" class="pad-bottom" flex>
              <md-input-container flex>
                <input mdInput
                       placeholder="Password"
                       flex/>
              </md-input-container>
            </div>
          </div>
        </div>
      </md-card>


      <md-card-actions layout-align="center center">
        <button md-button color="primary" [routerLink]="['education']">Next</button>
      </md-card-actions>
    </form>
  </td-layout-card-over>
</td-layout-nav>
