<h2 md-dialog-title>Select Program</h2>
<md-dialog-content flex>
  <template let-programOffering let-last="last" ngFor [ngForOf]="programOfferings$ | async">
    <div flex class="pad inset" tdMediaToggle="gt-xs" [mediaClasses]="['pad-sm']">
      <div class="push-top-sm"></div>
      <div *ngIf="programOffering.programFieldCode.programCode.graduateCenter.code==='CPS'">
      <p class="md-title tc-grey-600" fxFlex="calc(100%-25px)">{{programOffering.programFieldCode.code}} :
        ({{programOffering.programFieldCode.programCode.descriptionEn}})({{programOffering.programFieldCode.fieldCode.descriptionEn}})</p>
      </div>  

      <div *ngIf="programOffering.programFieldCode.programCode.graduateCenter.code==='MGSEB'">
          <p class="md-title tc-grey-600" fxFlex="calc(100%-25px)">{{programOffering.programFieldCode.code}} :
            ({{programOffering.programFieldCode.programCode.descriptionEn}})</p>
          </div>  
    
      <button md-raised-button color="accent" class="push-bottom" (click)="select(programOffering)">Choose
        {{programOffering.programFieldCode.code}}
      </button>
      <div class="push-top-sm"></div>
      <div class="push-top-sm"></div>
      <div class="push-top-sm"></div>
    </div>
  </template>
</md-dialog-content>
<md-dialog-actions align="end">
</md-dialog-actions>

