<md-card>
  <div layout="row" class="inset" layout-wrap hide-xs hide-sm class="push-sm">

    <md-card-subtitle>List of Working Experience</md-card-subtitle>

    <!--<pams-employment-list [employments]="employments"></pams-employment-list>-->

    <md-card-actions>
      <a md-fab color="accent" class="mat-fab-top-right" (click)="showDialog()">
        <md-icon>add</md-icon>
      </a>
    </md-card-actions>

  </div>
</md-card>

    <!--<md-divider>-->
      <!--<td-data-table-->
        <!--[data]="employments"-->
        <!--[columns]="columns"-->
        <!--[sortBy]="summary"-->
        <!--[sortOrder]="ASC"-->
        <!--[sortable]="false"-->
        <!--[multiple]="false"-->
        <!--[selectable]="false"-->
        <!--(rowSelect)="view.emit($event)" dense>-->
        <!--<template tdDataTableTemplate="key" let-value="value" let-row="row" let-column="column">-->
          <!--<div layout="row">-->
            <!--<span flex>{{value}}</span>-->
          <!--</div>-->
        <!--</template>-->
        <!--<template tdDataTableTemplate="action" let-value="value" let-row="row" let-column="column">-->
          <!--<div layout="row">-->
            <!--<button md-icon-button [md-menu-trigger-for]="menu">-->
              <!--<md-icon>more_vert</md-icon>-->
            <!--</button>-->
            <!--<md-menu x-position="before" #menu="mdMenu">-->
              <!--<a md-menu-item>Edit</a>-->
              <!--<button md-menu-item (click)="delete(row)">Delete</button>-->
            <!--</md-menu>-->
          <!--</div>-->
        <!--</template>-->
      <!--</td-data-table>-->
    <!--</md-divider>-->
