<div toolbar-buttons layout="row" layout-align="start center" flex>
  <md-card-title>Language List
  </md-card-title>
  <p></p>
  <md-card-subtitle> Select level according to your Proficiency</md-card-subtitle>
  <md-chip-list *ngIf="languages?.length > 0">
    <md-chip color="accent">{{languages?.length}}</md-chip>
  </md-chip-list>
  <span flex></span>
  <button md-button class="md-icon-button" (click)="create()">
    <md-icon class="md-24 tc-grey-300" [ngClass]="{'tc-grey-700': selectedRows.length === 0}">add</md-icon>
  </button>
  <button md-button class="md-icon-button" (click)="edit(selectedRows[0])" [disabled]="selectedRows.length != 1">
    <md-icon class="md-24 tc-grey-300" [ngClass]="{'tc-grey-700': selectedRows.length === 1}">edit</md-icon>
  </button>
  <button md-button class="md-icon-button" (click)="delete(selectedRows[0])" [disabled]="selectedRows.length != 1">
    <md-icon class="md-24 tc-grey-300" [ngClass]="{'tc-grey-700': selectedRows.length === 1}">delete</md-icon>
  </button>
</div>
<md-divider></md-divider>
<td-data-table
  [data]="languages"
  [columns]="columns"
  [sortBy]="summary"
  [sortOrder]="ASC"
  [sortable]="false"
  [multiple]="true"
  [selectable]="true"
  [(ngModel)]="selectedRows"
  (rowSelect)="selectRow($event)"
  (selectAll)="selectAllRows($event)"
  dense>
  <template tdDataTableTemplate="key" let-value="value" let-row="row" let-column="column">
    <div layout="row">
      <span flex>{{value}}</span>
    </div>
  </template>
</td-data-table>
