<td-file-upload #fileUpload defaultColor="accent" activeColor="warn" cancelColor="primary"
                (select)="selectEvent($event)"
                (upload)="uploadEvent($event)" (cancel)="cancelEvent()" accept=".ext,.anotherExt" [disabled]="disabled"
                multiple>
  <md-icon>file_upload</md-icon>
  <span>{{ fileUpload.files?.name }}</span>
  <ng-template td-file-input-label>
    <md-icon>attach_file</md-icon>
    <span>Choose a file...</span>
  </ng-template>
</td-file-upload>
