<td-layout-nav>
  <div toolbar-content layout="row" layout-align="center center" flex>
    <span>PAMS: Postgraduate Management System</span>
    <span flex></span>
  </div>

  <td-layout-card-over>
    <form [formGroup]="applicationForm" novalidate>
      <div layout="row" layout-align="start center">
        <div>
          <md-card-title>Intake Application</md-card-title>
          <md-card-subtitle>Intake Registration for Session 201720181</md-card-subtitle>
        </div>
      </div>
      <md-divider></md-divider>
      <md-tab-group (selectChange)="onTabChange($event)" md-stretch-tabs>
        <md-tab>
          <template md-tab-label>Detail Of Candidate</template>
          <td-expansion-panel label="Program Choices">
            <pams-study-center-choice [intakeApplication]="intakeApplication$ | async">
            </pams-study-center-choice>

            <!--<div fxLayout fxLayout.xs="column" fxLayoutWrap fxLayoutGap="25px">
              <pams-study-center-code-select [placeholder]="'Study Center'" [innerFormControl]="applicationForm.controls.studyCenterCode"
                fxFlex="calc(70%-25px)" class="push-bottom">
              </pams-study-center-code-select>
            </div>-->
          </td-expansion-panel>


          <template md-tab-label>Personal Information</template>
          <td-expansion-panel label="Personal Details">
            <div fxLayout fxLayout.xs="column" fxLayoutWrap fxLayoutGap="25px" class="inset">
              <!-- first column -->

              <md-input-container fxFlex="calc(50%-25px)">
                <input mdInput placeholder="Name" formControlName="name"/>
              </md-input-container>

              <md-input-container fxFlex="calc(50%-25px)">
                <input mdInput placeholder="Email" formControlName="email"/>
              </md-input-container>

              <md-input-container fxFlex="calc(50%-25px)">
                <input mdInput placeholder="NRIC/Passport" formControlName="credentialNo"/>
              </md-input-container>
              <div class="error" class="tc-red-600"
                   *ngIf="applicationForm.get('credentialNo').invalid && applicationForm.get('credentialNo').touched">
                Your Ic or Passport Number is required!
              </div>

              <md-input-container fxFlex="calc(50%-25px)">
                <input mdInput type="date" placeholder="Date of Birth" formControlName="birthDate"/>
              </md-input-container>
              <div class="error" class="tc-red-600"
                   *ngIf="applicationForm.get('birthDate').invalid && applicationForm.get('birthDate').touched">
                Your Birth Date is required!
              </div>


              <pams-nationality-code-select [placeholder]="'Nationality'"
                                            [innerFormControl]="applicationForm.controls.nationalityCode"
                                            fxFlex="calc(50%-25px)" class="pad-bottom">
              </pams-nationality-code-select>
              <div class="error" class="tc-red-600"
                   *ngIf="applicationForm.get('birthDate').invalid && applicationForm.get('birthDate').touched">
                Please add your nationality!
              </div>

              <pams-race-code-select [placeholder]="'Race'" [innerFormControl]="applicationForm.controls.raceCode"
                                     fxFlex="calc(50%-25px)" class="pad-bottom">
              </pams-race-code-select>


              <pams-marital-code-select [placeholder]="'Marital'"
                                        [innerFormControl]="applicationForm.controls.maritalCode"
                                        fxFlex="calc(50%-25px)" class="pad-bottom">
              </pams-marital-code-select>


              <!--</div>-->

              <!--second column -->
              <!--<div fxLayout fxLayout.xs="column" fxLayoutWrap fxLayoutGap="25px" class="inset">-->

              <md-input-container fxFlex="calc(50%-25px)">
                <input mdInput type="date" placeholder="Passport Expired Date" formControlName="passExpDate" flex/>
              </md-input-container>

              <md-input-container fxFlex="calc(50%-25px)">
                <input mdInput placeholder="Phone No" formControlName="mobile"/>
              </md-input-container>
              <div class="error" class="tc-red-600"
                   *ngIf="applicationForm.get('mobile').invalid && applicationForm.get('mobile').touched">
                Please add your Phone number!
              </div>

              <md-input-container fxFlex="calc(50%-25px)">
                <input mdInput placeholder="Office No" formControlName="phone" flex/>
              </md-input-container>


              <md-input-container fxFlex="calc(50%-25px)">
                <input mdInput placeholder="Fax No" formControlName="fax" flex/>
              </md-input-container>

              <pams-ethnicity-code-select [placeholder]="'Ethnicity'" required md-maxlength="10"
                                          [innerFormControl]="applicationForm.controls.ethnicityCode"
                                          fxFlex="calc(50%-25px)" class="pad-bottom">
              </pams-ethnicity-code-select>

              <pams-gender-code-select [placeholder]="'Gender'"
                                       [innerFormControl]="applicationForm.controls.genderCode"
                                       fxFlex="calc(50%-25px)" class="pad-bottom">
              </pams-gender-code-select>

              <pams-religion-code-select [placeholder]="'Religion'"
                                         [innerFormControl]="applicationForm.controls.religionCode"
                                         fxFlex="calc(50%-25px)" class="pad-bottom">
              </pams-religion-code-select>
            </div>

          </td-expansion-panel>
        </md-tab>

        <md-tab>
          <template md-tab-label>Address Information</template>
          <td-expansion-panel label="Address Detail">

            Mailing Address

            <div fxLayout fxLayout.xs="column" fxLayoutWrap fxLayoutGap="25px" class="inset">
              <md-input-container fxFlex="calc(100%-25px)">
                <input mdInput placeholder="Address 1" formControlName="mailingAddress1"/>
              </md-input-container>

              <md-input-container fxFlex="calc(100%-25px)">
                <input mdInput placeholder="Address 2" formControlName="mailingAddress2"/>
              </md-input-container>

              <md-input-container fxFlex="calc(100%-25px)">
                <input mdInput placeholder="Address 3" formControlName="mailingAddress3" flex/>
              </md-input-container>

              <md-input-container fxFlex="calc(100%-25px)">
                <input mdInput placeholder="Postcode" formControlName="mailingPostcode"/>
              </md-input-container>

              <pams-state-code-select [placeholder]="'State'"
                                      [innerFormControl]="applicationForm.controls.mailingStateCode"
                                      fxFlex="calc(50%-25px)" class="pad-bottom">
              </pams-state-code-select>

              <pams-country-code-select [placeholder]="'Country'"
                                        [innerFormControl]="applicationForm.controls.mailingCountryCode"
                                        fxFlex="calc(50%-25px)" class="pad-bottom">
              </pams-country-code-select>

            </div>

            Official Address

            <div fxLayout fxLayout.xs="column" fxLayoutWrap fxLayoutGap="25px" class="inset">
              <md-input-container fxFlex="calc(100%-25px)">
                <input mdInput placeholder="Address 1" formControlName="officialAddress1" flex/>
              </md-input-container>

              <md-input-container fxFlex="calc(100%-25px)">
                <input mdInput placeholder="Address 2" formControlName="officialAddress2" flex/>
              </md-input-container>

              <md-input-container fxFlex="calc(100%-25px)">
                <input mdInput placeholder="Address 3" formControlName="officialAddress3" flex/>
              </md-input-container>

              <md-input-container fxFlex="calc(100%-25px)">
                <input mdInput placeholder="Postcode" formControlName="officialPostcode" flex/>
              </md-input-container>

              <pams-state-code-select [placeholder]="'State'"
                                      [innerFormControl]="applicationForm.controls.officialStateCode"
                                      fxFlex="calc(50%-25px)" class="pad-bottom">
              </pams-state-code-select>

              <pams-country-code-select [placeholder]="'Country'"
                                        [innerFormControl]="applicationForm.controls.officialCountryCode"
                                        fxFlex="calc(50%-25px)" class="pad-bottom">
              </pams-country-code-select>
            </div>
          </td-expansion-panel>
        </md-tab>

        <md-tab>
          <md-card>
            <template md-tab-label>Working Experience</template>
            <td-expansion-panel label="Working Experience">
              <pams-employment-list [intakeApplication]="intakeApplication$ | async"
                                    [employments]="employments$ | async"></pams-employment-list>
            </td-expansion-panel>
          </md-card>
        </md-tab>

        <md-tab>
          <md-card>
            <template md-tab-label>Academic Qualification</template>
            <md-card-subtitle>Kindly attached all related documents with Certified True Copy</md-card-subtitle>
            <md-card-subtitle>* Foreign applicant need to submit TOEFL/IELTS result together with the application form
            </md-card-subtitle>

            <td-expansion-panel label="Results">
              <pams-result-list [intakeApplication]="intakeApplication$ | async" [results]="results$ | async">
              </pams-result-list>
            </td-expansion-panel>

            <td-expansion-panel label="Proficiency in Malay/English Language">
              <pams-language-list [intakeApplication]="intakeApplication$ | async" [languages]="languages$ | async">
              </pams-language-list>

            </td-expansion-panel>

          </md-card>
        </md-tab>

        <md-tab>
          <md-card>
            <template md-tab-label>Upload Document</template>
            <div layout="column" class="pad-right" flex>

              <td-expansion-panel label="Attachments">
                <pams-attachment-list [intakeApplication]="intakeApplication$ | async"
                                      [attachments]="attachments$ | async">
                </pams-attachment-list>
              </td-expansion-panel>

              <td-expansion-panel label="Attachments Document Checklist">
                <md-card-subtitle>Please check all the uploaded attachments below</md-card-subtitle>

                <div layout="row" class="pad-bottom" flex>
                  <md-checkbox formControlName="processingFeeAttached"
                               aria-label="Processing fees Receipt">
                    <div layout="column" flex> Processing fees Receipt</div>
                  </md-checkbox>
                </div>

                <div layout="row" class="pad-bottom" flex>
                  <md-checkbox formControlName="languageResultAttached">
                    <div layout="column" flex> Language Result</div>
                  </md-checkbox>
                </div>

                <div layout="row" class="pad-bottom" flex>
                  <md-checkbox formControlName="toeflResultAttached">
                    <div layout="row" flex>TOEFL (Foreign Only)</div>
                  </md-checkbox>
                </div>

                <div layout="row" class="pad-bottom" flex>
                  <md-checkbox formControlName="ieltsResultAttached">
                    <div layout="row" flex> IELTS Result (Foreign Only)</div>
                  </md-checkbox>
                </div>

                <div layout="row" class="pad-bottom" flex>
                  <md-checkbox formControlName="spmResultAttached">
                    <div layout="column" flex>Spm Result</div>
                  </md-checkbox>
                </div>

                <div layout="row" class="pad-bottom" flex>
                  <md-checkbox formControlName="stpmResultAttached">
                    <div layout="column" flex>Stpm Result</div>
                  </md-checkbox>
                </div>

                <div layout="row" class="pad-bottom" flex>
                  <md-checkbox formControlName="diplomaResultAttached">
                    <div layout="column" flex> Diploma Result</div>
                  </md-checkbox>
                </div>

                <div layout="row" class="pad-bottom" flex>
                  <md-checkbox formControlName="bachelorResultAttached">
                    <div layout="column" flex>Bachelor Result</div>
                  </md-checkbox>
                </div>

                <div layout="row" class="pad-bottom" flex>
                  <md-checkbox formControlName="sponsorLetterAttached">
                    <div layout="column" flex> Letter From Sponsor</div>
                  </md-checkbox>
                </div>

                <div layout="row" class="pad-bottom" flex>
                  <md-checkbox formControlName="bankStatementAttached">
                    <div layout="column" flex>Bank Statement</div>
                  </md-checkbox>
                </div>

                <div layout="row" class="pad-bottom" flex>
                  <md-checkbox formControlName="refereeFormAttached">
                    <div layout="column" flex> Referee Form</div>
                  </md-checkbox>
                </div>

                <div layout="row" class="pad-bottom" flex>

                  <md-checkbox formControlName="researchProposalAttached">
                    <div layout="column" flex> Research Proposal</div>
                  </md-checkbox>
                </div>
              </td-expansion-panel>


            </div>
          </md-card>
        </md-tab>

        <md-tab>
          <template md-tab-label>Submit Application</template>
          <div flex class="pad inset" tdMediaToggle="gt-xs" [mediaClasses]="['pad-sm']">
            <div class="push-top-sm"></div>
            <md-card-title>Declaration</md-card-title>
            <md-card-subtitle>Submit Application for Intake September 2017</md-card-subtitle>
            <div layout="row" layout-wrap hide-xs hide-sm class="push-sm">
              <md-checkbox formControlName="declared">
                <div layout="column" flex>
                  I declare that the statements made in this application form are correct. I am fully aware that UMK
                  reserves the right to
                  reject my application or terminate my candidature if the information given above is incorrect or
                  incomplete.
                </div>
                <div class="error" class="tc-red-600"
                     *ngIf="applicationForm.get('declared').invalid && applicationForm.get('declared').touched">
                  Please click Declaration before submit the application!
                </div>
              </md-checkbox>
            </div>
            <md-card-subtitle>*Please fill all the required form before submit your application</md-card-subtitle>


            <div layout="row" layout-align="start center">
              <!--{{applicationForm.valid}}-->
               <button md-raised-button color="accent" (click)="submit(applicationForm.value, applicationForm.valid)"  [disabled] = "!applicationForm.valid">
                Submit
              </button>
            </div>
          </div>
          <div class="push-top-sm"></div>
        </md-tab>
      </md-tab-group>
    </form>
  </td-layout-card-over>
</td-layout-nav>
