<td-layout-nav>
  <div toolbar-content layout="row" layout-align="center center" flex>
    <span>PAMS: Postgraduate Academic Management System</span>
    <span flex></span>
  </div>

  <td-layout-card-over>
    <div layout="row" layout-align="start center">
      <div>
        <template md-tab-label></template>
        <md-card-title>Applicant Registration</md-card-title>
        <md-card-subtitle>A password recovery has successfully been sent to your email.</md-card-subtitle>
        <md-card-subtitle>Please check your email and click the link below to login.</md-card-subtitle>
      </div>

    </div>
    <md-card-actions>
      <button md-button color="accent" [routerLink]="['/login']">
        Please Log In
      </button>
    </md-card-actions>
  </td-layout-card-over>
</td-layout-nav>