<md-card class="">
<div layout="row" layout-align="start center" class="pad-left-sm pad-right-sm">
    <td-search-box #searchBox backIcon="arrow_back" class="push-right-sm" placeholder="Search here" (searchDebounce)="search($event)" [alwaysVisible]="true" flex>
    </td-search-box>
</div>
<md-divider></md-divider>
<td-data-table
    #dataTable
      [data]="filteredData" 
    [columns]="columns"
    [sortable]="true"
    [sortBy]="sortBy"
    [sortOrder]="sortOrder"
    (sortChange)="sort($event)">
    <template tdDataTableTemplate="action" let-value="value" let-row="row" let-column="column">
      <div layout="row">
        <a md-button color="accent" class="text-upper" (click)="deactivate($event)">
          <span>Deactivate</span>
        </a>
        <button md-icon-button [md-menu-trigger-for]="menu">
        <md-icon>more_vert</md-icon>
      </button>
      <md-menu x-position="before" #menu="mdMenu">
        <button md-menu-item (click)="editDialog(row)">Edit</button>
        <button md-menu-item (click)="delete(row)">Delete</button>
      </md-menu>
    </div>
    </template>
  <template tdDataTableTemplate="key" let-value="value" let-row="row" let-column="column">
    <div layout="row">
      <span flex>{{value}}</span>
    </div>
  </template>
  </td-data-table>
<div class="md-padding" *ngIf="!dataTable.hasData" layout="row" layout-align="center center">
    <h3>No results to display.</h3>
</div> 
<td-paging-bar #pagingBar [pageSizes]="[5, 10, 15, 20]" [total]="filteredTotal" (change)="page($event)">
    <span td-paging-bar-label hide-xs>Row per page:</span>
    {{pagingBar.range}} <span hide-xs>of {{pagingBar.total}}</span>
</td-paging-bar>
</md-card>


 <a md-fab color="accent" class="mat-fab-top-right" (click)="createDialog()">
  <md-icon>add</md-icon>
</a>
