<td-layout-nav>
  <div toolbar-content layout="row" layout-align="center center" flex>
    <span>PAMS: Postgraduate Management System</span>
    <span flex></span>
  </div>
  <td-layout-card-over>
    <div layout="row" layout-align="start center">
      <div>
        <md-card-title>Applicant Registration</md-card-title>
        <md-card-subtitle>Applicant Registration for Programs</md-card-subtitle>
      </div>
    </div>
    <md-divider></md-divider>
    <div layout="column" layout-md="row" class="inset" flex>
      <form [formGroup]="registrationForm">
        <div layout="row" class="pad-bottom" flex>
          <md-input-container flex>
            <input mdInput
                   placeholder="Name"
                   formControlName="name"
                   type="text"
                   flex/>
            <div class="error" class="tc-red-600"
                       *ngIf="registrationForm.get('name').invalid && registrationForm.get('name').touched">Required!
                  </div>
          </md-input-container>
        </div>
        <div layout="row" class="pad-bottom" flex>
          <md-input-container flex>
            <input mdInput
                   placeholder="NRIC/Passport"
                   formControlName="identityNo"
                   type="text"
                   flex/>
            <div class="error" class="tc-red-600"
                       *ngIf="registrationForm.get('identityNo').invalid && registrationForm.get('identityNo').touched">Required!
                  </div>
          </md-input-container>
        </div>
        <div layout="row" class="pad-bottom" flex>
          <md-input-container flex>
            <input mdInput
                   placeholder="Email"
                   type="email"
                   formControlName="email"
                   flex/>
<!-- *ngIf="registrationForm.get('email').isExists">Email already exists! -->
            <!-- <div class="error" class="tc-red-600"
                       
                       *ngIf="registrationForm.registration?.email.isExists && registrationForm.get('email').touched">Email already exists!

                  </div> -->
            <div class="error" class="tc-red-600"
                       *ngIf="registrationForm.get('email').invalid && registrationForm.get('email').touched">Please insert a valid email format!(e.g:ali@gmail.com)
                  </div>
          </md-input-container>
        </div>
        <div layout="row" class="pad-bottom" flex>
          <md-input-container flex>
            <input mdInput
                   type="password"
                   placeholder="Password"
                   formControlName="password"
                   flex/>
            <div class="error" class="tc-red-600"
                       *ngIf="registrationForm.get('password').invalid && registrationForm.get('password').touched">Required!
                  </div>
          </md-input-container>
        </div>
      </form>
    </div>
    <md-divider></md-divider>
    <md-card-actions>
      <button md-raised-button color="accent" 
              (click)="register(registrationForm.value, registrationForm.valid)"
              [disabled] = "!registrationForm.valid">Register
      </button>
      <button md-button color="primary" [routerLink]="['/login']">Already Register? Login here!</button>
    </md-card-actions>
  </td-layout-card-over>
</td-layout-nav>
