<td-layout-nav>
  <div toolbar-content layout="row" layout-align="center center" flex>
    <span>PAMS: Postgraduate Management System</span>
    <span flex></span>
  </div>

  <td-layout-card-over>
    <div layout="row" layout-align="start center">
      <!--<registration-information [registration]="registration$ | async">
            </registration-information>-->
      <div>
        <template md-tab-label></template>
        <md-card-title>Applicant Registration</md-card-title>
        <md-card-subtitle>A verification email has been sent to your registered email.</md-card-subtitle>
        <md-card-subtitle>Please click the verification link to complete your registration.</md-card-subtitle>
        <!--{{registration.email}}-->
      </div>

    </div>
  </td-layout-card-over>
</td-layout-nav>
