<td-layout-nav>
  <div toolbar-content layout="row" layout-align="center center" flex>
    <span>Validation Information</span>
    <span flex></span>
  </div>

    <td-layout-card-over>
    <div layout="row" layout-align="start center">
      <div>
        <md-card-title>Applicant Registration</md-card-title>
        <md-card-subtitle> Please click the url below to verify your registration</md-card-subtitle>   
        
        <md-card-subtitle>token url here : http://xxxx   </md-card-subtitle> 
         
      </div>
    </div>
