<td-layout-nav>
  <div toolbar-content layout="row" layout-align="center center" flex>
    <span>Email Validation</span>
    <span flex></span>
  </div>

    <td-layout-card-over>
    <div layout="row" layout-align="start center">
      <div>
        <md-card-title>Applicant Registration</md-card-title>
        <md-card-subtitle>Your registration has been validate! Please click the link below to login</md-card-subtitle>
      </div>
    </div>

      <md-card-actions>
      <button md-button color="accent" [routerLink]="['/login']" (click)="login(loginForm.value, loginForm.valid)">Login</button>

  <!--<button md-button color="accent" [routerLink]="['/register']" (click)="validate(validationForm.value, validationForm.valid)">Validate</button>-->
      </md-card-actions>    