<td-layout-nav>
  <div toolbar-content layout="row" layout-align="center center" flex>
    <span>Email Validation</span>
    <span flex></span>
  </div>

  <td-layout-card-over>
    <div layout="row" layout-align="start center">
      <div>
        <md-card-title>Applicant Registration</md-card-title>
        <md-card-subtitle>Your registration has been validate! </md-card-subtitle>
        <md-card-subtitle>Please use your email as your username.</md-card-subtitle>
      </div>
    </div>

    <md-card-actions>
      <button md-button color="accent" [routerLink]="['/login']">
        Please Log In
      </button>
    </md-card-actions>
