<md-card>
  <td-search-box class="push-left push-right"
                 placeholder="search"
                 [alwaysVisible]="true"
                 (searchDebounce)="filter($event)">

  </td-search-box>

  <td-data-table
    [data]="graduateCentres$ | async"
    [columns]="columns"
    [sortBy]="summary"
    [sortOrder]="ASC"
    [sortable]="false"
    [multiple]="false"
    [selectable]="false"
    (rowSelect)="view.emit($event)" dense>
    <template tdDataTableTemplate="key" let-value="value" let-row="row" let-column="column">
      <div layout="row">
        <span flex>{{value}}</span>
      </div>
    </template>
    <template tdDataTableTemplate="action" let-value="value" let-row="row" let-column="column">
      <div layout="row">
        <a md-button color="accent" class="text-upper" (click)="deactivate($event)">
          <span>Deactivate</span>
        </a>
      </div>
    </template>
  </td-data-table>
</md-card>
<a md-fab color="accent" class="mat-fab-top-right" (click)="showDialog()">
  <md-icon>add</md-icon>
</a>

