<td-layout-nav>
  <div toolbar-content layout="row" layout-align="center center" flex>
    <span>PAMS: Postgraduate Management System</span>
    <span flex></span>
  </div>

  <div md-content flex md-scroll-y>
    <div layout="column" layout-gt-md="row" class="inset">
      <div flex-gt-md="70">
        <md-card>
          <div toolbar-buttons layout="row" layout-align="start center" flex>
            <span flex></span>
            <button md-button class="md-icon-button">
              <md-icon class="md-24">more_vert</md-icon>
            </button>
          </div>

          <md-card-title>{{(intakeTask$|async)?.referenceNo}}</md-card-title>
          <md-card-subtitle>{{(intakeTask$|async)?.description}}</md-card-subtitle>

          <div layout="row" layout-wrap hide-xs hide-sm class="push-sm">
            <div layout="column" flex>
              <md-list dense>
                <md-list-item>
                  <md-icon md-list-icon>local_offer</md-icon>
                  <h4 md-line>{{(intakeTask$|async).referenceNo}}</h4>
                  <p md-line>Reference No</p>
                </md-list-item>
                <md-list-item>
                  <md-icon md-list-icon>local_offer</md-icon>
                  <h4 md-line>{{(intakeTask$|async).projection}}</h4>
                  <p md-line>Projection</p>
                </md-list-item>
              </md-list>
            </div>
            <div layout="column" flex>
              <md-list dense>
                <md-list-item a>
                  <md-icon md-list-icon>local_offer</md-icon>
                  <h4 md-line>{{(intakeTask$|async).startDate| date :'longDate'}}</h4>
                  <p md-line>Start Date</p>
                </md-list-item>
                <md-list-item>
                  <md-icon md-list-icon>local_offer</md-icon>
                  <h4 md-line>{{(intakeTask$|async).endDate | date :'longDate'}}</h4>
                  <p md-line>End Date</p>
                </md-list-item>
              </md-list>
            </div>
            <div layout="column" flex>
              <md-list dense>
                <md-list-item a>
                  <md-icon md-list-icon>local_offer</md-icon>
                  <h4 md-line>{{(intakeTask$|async).startDate| date :'longDate'}}</h4>
                  <p md-line>Start Date</p>
                </md-list-item>
                <md-list-item>
                  <md-icon md-list-icon>local_offer</md-icon>
                  <h4 md-line>{{(intakeTask$|async).endDate | date :'longDate'}}</h4>
                  <p md-line>End Date</p>
                </md-list-item>
              </md-list>
            </div>
          </div>

          <md-card-actions>
          </md-card-actions>
        </md-card>

        <md-card>
          <md-card-title>Candidates</md-card-title>
          <md-card-subtitle>Candidates offered this program</md-card-subtitle>
          <md-divider></md-divider>
          <md-tab-group>
            <md-tab label="All">
              <td-data-table
                [data]="candidates$ | async"
                [columns]="columns"
                [sortBy]="summary"
                [sortOrder]="ASC"
                [sortable]="false"
                [multiple]="false"
                [selectable]="false"
                (rowSelect)="view.emit($event)" dense>
                <template tdDataTableTemplate="key" let-value="value" let-row="row" let-column="column">
                  <div layout="row">
                    <span flex>{{value}}</span>
                  </div>
                </template>
              </td-data-table>
            </md-tab>
            <md-tab label="Selected">
              <td-data-table
                [data]="selectedCandidates$ | async"
                [columns]="columns"
                [sortBy]="summary"
                [sortOrder]="ASC"
                [sortable]="false"
                [multiple]="false"
                [selectable]="false"
                (rowSelect)="view.emit($event)" dense>
                <template tdDataTableTemplate="key" let-value="value" let-row="row" let-column="column">
                  <div layout="row">
                    <span flex>{{value}}</span>
                  </div>
                </template>
              </td-data-table>
            </md-tab>
            <md-tab label="Rejected">
              <td-data-table
                [data]="rejectedCandidates$ | async"
                [columns]="columns"
                [sortBy]="summary"
                [sortOrder]="ASC"
                [sortable]="false"
                [multiple]="false"
                [selectable]="false"
                (rowSelect)="view.emit($event)" dense>
                <template tdDataTableTemplate="key" let-value="value" let-row="row" let-column="column">
                  <div layout="row">
                    <span flex>{{value}}</span>
                  </div>
                </template>
              </td-data-table>
            </md-tab>
          </md-tab-group>
        </md-card>
      </div>
      <div flex-gt-md="30">
        <md-card>
          <md-card-title>Action</md-card-title>
          <md-card-subtitle>Actions available on current intake</md-card-subtitle>
          <md-divider></md-divider>
          <md-nav-list dense>
            <md-list-item (click)="approve()">
              <md-icon md-list-avatar>done</md-icon>
              <h4 md-line>Approve</h4>
              <p md-line>Approve this intake</p>
            </md-list-item>
            <md-list-item (click)="broadcast()">
              <md-icon md-list-avatar>announcement</md-icon>
              <h4 md-line>Broadcast</h4>
              <p md-line>Broadcast result to candidates</p>
            </md-list-item>
            <md-list-item>
              <md-icon md-list-avatar>remove_circle</md-icon>
              <h4 md-line>Remove</h4>
              <p md-line>Remove this intake</p>
            </md-list-item>
          </md-nav-list>
        </md-card>
      </div>
    </div>
  </div>
</td-layout-nav>