<h2 md-dialog-title>Intake Task Creator</h2>

  <form [formGroup]="createForm" novalidate>
    <div fxLayout fxLayout.xs="column" fxLayoutWrap fxLayoutGap="25px">
      <md-input-container fxFlex="calc(100%-25px)">
        <input mdInput #description placeholder="Description" formControlName="description" />
      </md-input-container>
    </div>
    <div>
      <md-input-container fxFlex="calc(33%-25px)">
        <input mdInput type="number" placeholder="Projection" formControlName="projection" />
      </md-input-container>
    </div>
    <div>
      <md-input-container fxFlex="calc(33%-25px)">
        <input mdInput type="date" placeholder="Start Date" formControlName="startDate" />
      </md-input-container>
    </div>
    <div>
      <md-input-container fxFlex="calc(33%-25px)">
        <input mdInput type="date" placeholder="End Date" formControlName="endDate" />
      </md-input-container>
       <!-- <div class="error" class="tc-red-600"
                 *ngIf="createForm.get('endDate').invalid && createForm.get('endDate').touched">
              Please add end Date!
            </div> -->
        <div class="error" class="tc-red-600"
        *ngIf="createForm.controls.endDate.errors?.CheckDate">
        </div> 
        <div class="error" class="tc-red-600"
                 *ngIf="createForm.get('endDate').invalid && createForm.get('endDate').touched">
             End Date should be greater and not equal to start date!
        </div>     
    </div>
       
    <div>
      <pams-program-level-select [placeholder]="'Program Level'" [innerFormControl]="createForm.controls.programLevel" fxFlex="calc(100%-25px)"
        class="pad-bottom">
      </pams-program-level-select>
    </div>
    <div>
      <pams-graduate-center-select [placeholder]="'Graduate Center'" [innerFormControl]="createForm.controls.graduateCenter" fxFlex="calc(100%-25px)"
        class="pad-bottom">
      </pams-graduate-center-select>
    </div>
    <div>
      <pams-intake-session-select [placeholder]="'Intake Session'" [innerFormControl]="createForm.controls.intakeSession" fxFlex="calc(100%-25px)"
        class="pad-bottom">
      </pams-intake-session-select>
    </div>
  </form>

<md-dialog-actions align="end">
  <button md-raised-button color="accent" (click)="submit(createForm.value, createForm.valid )" [disabled]="!createForm.valid">Save</button>
</md-dialog-actions>