<td-layout-nav toolbarTitle="PAMS">
  <td-layout-manage-list #list title="Manage" logo="path/to/toolbar-logo.svg">
    <md-nav-list list-items dense>
      <h3 md-subheader>Application</h3>
      <a md-list-item [routerLink]="['/application/intake-applications']">
        <md-icon>label</md-icon>
        Application
      </a>
      <a md-list-item [routerLink]="['/application/intake-applications/personal']">
        <md-icon>label</md-icon>
        Start Intake Application
      </a>
    </md-nav-list>
    <div toolbar-buttons layout="row" layout-align="start center" flex>
      <span flex></span>
      <button md-button class="md-icon-button">
        <md-icon class="md-24">settings</md-icon>
      </button>
      <button md-button class="md-icon-button">
        <md-icon class="md-24">more_vert</md-icon>
      </button>
    </div>

  </td-layout-manage-list>
</td-layout-nav>
