<div flex class="pad inset" tdMediaToggle="gt-xs" [mediaClasses]="['pad-sm']">
  <div class="push-top-sm"></div>
  <p class="md-title tc-grey-600">Choose your program:
    {{intakeApplication?.programSelection?.programFieldCode.programCode.descriptionEn}}({{intakeApplication?.programSelection?.programFieldCode.fieldCode.descriptionEn}})
    ({{intakeApplication?.programSelection?.programFieldCode.code}}) </p>
  <button md-raised-button color="accent" class="push-bottom" (click)="showProgramSelectionDialog()">Choose</button>
  <div class="push-top-sm"></div>
  <p class="md-title tc-grey-600">Choose your study mode:
    {{intakeApplication?.studyModeSelection?.studyMode?.descriptionEn}}</p>
  <button md-raised-button color="accent" class="push-bottom" (click)="showStudyModeSelectionDialog()">Choose</button>
  <div class="push-top-sm"></div>
  <p class="md-title tc-grey-600">Choose your supervisor:
   {{intakeApplication?.supervisorSelection?.supervisorCode.title}}. {{intakeApplication?.supervisorSelection?.supervisorCode.name}} </p>
  <button md-raised-button color="accent" class="push-bottom" (click)="showSupervisorSelectionDialog()">Choose</button>
</div>
