<form [formGroup]="applicationForm">
  <div flex class="pad inset" tdMediaToggle="gt-xs" [mediaClasses]="['pad-sm']">
  
    <div class="push-top-sm"></div>
    <p class="md-title tc-grey-600">Choose your program:
      {{intakeApplication?.programSelection?.programCode.descriptionEn}}
      ({{intakeApplication?.programSelection?.programCode.code}}) </p>
    <button md-raised-button color="accent" class="push-bottom" (click)="showProgramSelectionDialog()">Choose</button>
    <div class="push-top-sm"></div>
    <p class="md-title tc-grey-600">Choose your study mode:
      {{intakeApplication?.studyModeSelection?.studyMode.descriptionEn}}
      ({{intakeApplication?.studyModeSelection?.studyMode.code}}) </p>
    <button md-raised-button color="accent" class="push-bottom" (click)="showStudyModeSelectionDialog()">Choose</button>
    <div class="push-top-sm"></div>
    <p class="md-title tc-grey-600">Choose study Center :</p>
    <div fxLayout fxLayout.xs="column" fxLayoutWrap fxLayoutGap="25px">
     <pams-study-center-code-select [placeholder]="'Study Center'" [innerFormControl]="applicationForm.controls.studyCenterCode"
                fxFlex="calc(70%-25px)" class="push-bottom">
     </pams-study-center-code-select>
    </div>


  </div>
</form>

