<md-card class="">
  <md-card-title>Study modes and descriptions</md-card-title>
  <md-card-subtitle>List of study modes and descriptions</md-card-subtitle>

  <md-nav-list list-items>
    <a md-list-item (click)="showDialog()">
      <md-icon>create</md-icon>
      Add Study Mode
    </a>
    <md-divider></md-divider>
  </md-nav-list>


  <td-data-table
    [data]="studyModes$ | async"
    [columns]="columns"
    [sortBy]="summary"
    [sortOrder]="ASC"
    [sortable]="false"
    [multiple]="false"
    [selectable]="false"
    (rowSelect)="view.emit($event)" dense>
    <template tdDataTableTemplate="key" let-value="value" let-row="row" let-column="column">
      <div layout="row">
        <span flex>{{value}}</span>
      </div>
    </template>
  </td-data-table>

  <md-divider></md-divider>
  <md-card-actions>
  </md-card-actions>
</md-card>
